<!-- Services Section -->
    <section id="acknowledgments">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Acknowledgments</h2>
                </div>
            </div>
            <div class="row container">

<p>
    This minitrack is supported by the <b>Cluster of Excellence “Internet of Production”</b>, funded by the DFG (German Research Council, Project ID 390 621 612).
</p>

<p>
In the interdisciplinary research cluster <a href="https://iop.rwth-aachen.de" target="_blank">Internet of Production (IoP) at RWTH Aachen University</a>, about 100 researchers on all career levels from mechanical and plastics engineering, material science, humanities, management, and computer science have been working on the vision of a new level of cross-domain collaboration along the entire product life cycles from engineering, operations, and usage. The IoP pursues a vision of a connected industry, in which processes, factories, and even organizations can learn from each other by sharing experiences and knowledge.
</p>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="https://iop.rwth-aachen.de" target="_blank" class="portfolio-link" data-toggle="none">
                <img src="css/img/iop.png" class="img-responsive img-centered w-100" alt="">
            </a>
      </div>
      <div class="col-md-6">
        <a href="https://www.dfg.de/" target="_blank" class="portfolio-link" data-toggle="none">
            <img src="css/img/dfg.png" class="img-responsive img-centered 100" alt="">
        </a>
      </div>
    </div>
</div>

                 <!--<center><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center>-->
            </div>
        </div>
    </section>