<!-- Services Section -->
<section id="call">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Call for Papers</h2>
          </div>
      </div>
      <div class="row container">

          <style>
          li {
            margin-top: 15px;
          }
          </style>

<p>
Industry has a particular responsibility to shape the transformation from our current economy into an ecologically and socially sustainable one. Additionally, the COVID-19 pandemic demonstrates how unexpected events can disrupt entire global logistics chains in short time. The resulting demand for change, <b>combining sustainability and resilience aspects</b>, poses <b>enormous challenges for industrial production</b>.
</p>

<p>At the same time, the ongoing digitalization and networking of industrial value chains – summarized as the fourth industrial revolution or Industry 4.0 – offer new opportunities and capabilities to reach these objectives. <b>We see sustainability as a driver of structural change: In parallel to our current digital transformation</b>, we need a sustainability transformation of today’s value creation and production models into future-proof resilient approaches.
</p>

<p>
The objective of this minitrack is to foster a discussion how <b>new information & communication systems can foster sustainability and resilience in the next generation of production systems</b>. Data-enriched views on processes and an increasing information capability (in real-time, complete, distributed) are the underlying principles of improving the efficiency of processes and avoiding waste over the complete life cycle of products and industrial assets. Refer to the <a class="page-scroll" href="#background">Technical Background Section</a> below for a deeper discussion of the corresponding information architecture.
</p>

<p>
In this minitrack, we aim to provide a forum for researchers and practitioners to discuss novel approaches in dealing with sustainability through resilient information systems and connected data spaces. Particularly, we invite submissions that discuss cross-organizational aspects of data sharing, e.g., to enable analyzing issues of sustainability and resilience across entire value chains. Areas of focus and interest of this minitrack include, but are not limited to:
</p>

<ul>
<li>Designing information systems for sustainable engineering, production, usage, and recycle/refurbish</li>
<li>Resource efficiency through digitally supported product life extension</li>
<li>Resilience and sustainability by design</li>
<li>Resilience in digital supply networks</li>
<li>Resilience and sustainability by design</li>
<li>Reactive hybrid intelligence for dealing with unexpected disruptions</li>
<li>Data sovereignty and data cooperation for sustainability</li>
<li>Lifetime synchronization of heterogeneous cyber-physical production systems</li>
<li>Sustainability through data-enriched supply chains</li>
<li>Process mining to enable sustainability-driven data analytics</li>
<li>Digital data-driven business models as enabler of sustainability in manufacturing</li>
<li>Sustainability impact of (platform-based) production ecosystems</li>
<li>Rebound effects managing the trade-off between sustainability gains by IS and digitalization versus resource consumption by IT</li>
</ul>   


           <!--<center><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center>-->
      </div>
  </div>
</section>
