<!-- Services Section -->
    <section id="submissions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Important Dates</h2>
                </div>
            </div>
            <div class="row container">

                <style>
                </style>

<center>
                     <p>
                         Please kindly be referred to the official HICSS website for important dates and author guidelines.
                     </p>
                     <a href="https://hicss.hawaii.edu/#:~:text=HICSS%2D56%20Call%20for%20Participation" target="_blank" class="page-scroll btn btn-xl">Call for Participation</a>
                </center>
            </div>
        </div>
    </section>