<!-- Services Section -->
    <section id="submissions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Submission Information</h2>
                </div>
            </div>
            <div class="row container">

                <style>
                </style>

<center>
                    <p>
                        All submissions must conform to the HICSS format (i.e., double-column, no more than ten pages, etc.).
                    </p> 
                    <p>
                         Please kindly be referred to the official HICSS website for detailed author guidelines and important dates.
                     </p>
                     <!--<a href="https://hicss.hawaii.edu/#:~:text=HICSS%2D56%20Call%20for%20Participation" target="_blank" class="page-scroll btn btn-xl">Call for Participation</a>-->
                     <a href="https://hicss.hawaii.edu/authors/" target="_blank" class="page-scroll btn btn-xl">HICSS-56 Author Instructions</a>
                </center>
            </div>
        </div>
    </section>