<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">HICSS-56 Minitrack<br></div>
                <div class="intro-heading">Data Spaces for Sustainability and Resilience in Manufacturing<br></div>
                <div class="intro-lead-in">January 3 – 6, 2023</div>
                <div class="intro-lead-in">Maui, Hawaii, USA</div>
                <a href="#call" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% comment %}
    {% include 2017_data/about.html %}
    {% endcomment %}
    {% include 2017_data/important_dates.html %}
    {% include 2017_data/team_members.html %}
    {% comment %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/sponsors.html %}
    {% endcomment %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% comment %}
    {% include 2017_data/speakers_info.html %}
    {% endcomment %}
    {% include 2016_data/js.html %}

    </body>
</html>